@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("fontawesome-all.min.css");

ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
#encabezado{
	font-size: 23px;
	color: rgb(255, 255, 255);
	
	
}
header{
	height: 100vh;
	overflow: hidden;
	background-color: tan;
	object-fit: cover;
	
	background: url("../../images/headerr.jpg") no-repeat ;
	
	
}
.containerPhoto{
	
	
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}
.photoAndDesc{
display: flex;
flex-direction: row;
justify-content: center;

align-items: center;
flex-wrap: wrap;
}
.descProfile{
	margin-left: 30px;
	display: flex;
	width: 350px;
	background-color: rgba(182, 172, 243, 0.876);
	flex-direction: column;
	border-radius: 20px;
	padding: 15px;
	align-items: center;
	justify-content: center;
}

.imgProfile{
	width: 300px;
	height: 300px;
	border-radius: 50%;

}
.imgProfile img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
h1{
	color: white;
	font-size: 40px;
	font-style:oblique;
}

.nav-header{
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkslateblue;
}
.divMenuHeader{
	display: flex;
	justify-content: center;
	align-items: center;
}
.menuNav{
	
	width: 40px;
	height: 100%;
	color: white;
	visibility: hidden;
	font-size: 25px;
	display: flex;
	cursor: pointer;
}
.menuNav label{
	cursor: pointer;
}
.ul-header{
	list-style: none;
	display: flex;
	flex-direction: row;
	transition: all 400ms ease;
	justify-content: center;
	
}
.divMenuHeader label{
}
#check{
	display: none;
}
.ul-header li{
    
}
.ul-header a{
	padding: 15px;
	display: block;
	font-size: 18px;
	color: white;
	text-decoration: none;
}
.ul-header a:hover{
	background-color: cadetblue;
}
.info-header{
height: 100%;
width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 30px;
	justify-content: center;
	
	
	align-items: center;

}
.info-header p{
	margin-top: 15px;
}
.info-header h1{
	margin-top: 20px;
}
.btn-skills{
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	background: darkslateblue;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	animation: myName 4s; 
	animation-iteration-count: infinite;

}



/*Section Skills */


.skills{
	
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	flex-wrap: wrap;
	
	align-items: flex-start;
	width: 100%;
	
	
}
.skill-text{
	
	
}
.skill-img{
	
	width: 450px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.skill-img img{
	width: 100%;
	height: 100%;
	
	
}
.skill-heading{
	
	font-size: 20px;
	
	margin-left: 20px
}
.skill-heading label{
	padding-top: 7px;
	padding-left: 5px;
}
.skill-heading h2{
	
font-size: 45px;
letter-spacing: 1px;
}
.skill-heading div span{
	padding-top: 10px;
}
.divPorcentaje{
	margin-top: 13px;
height: 10px;
margin-left: 10px;
background: darkslateblue;

}
.html div{
	width: 140px;
	margin-left: 18px;
}
.css div{
	width: 150px;
	margin-left: 49px;
}
.JavaScript div{
	width: 120px;
}
.WordPress div{
	width: 100px;
}

.html{
	margin-top: 15px;
	display: flex;
	flex-direction: row;
}

.html i{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: rgba(246, 74, 6, 0.185);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}
.css {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
}
.css i{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: rgba(25, 123, 236, 0.185);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.JavaScript {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
}
.JavaScript i{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #dcf30981;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.WordPress {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
}
.WordPress i{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: rgba(19, 125, 231, 0.2);
	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

/* Section Projects*/
.containerProjects{
	display: flex;
	justify-content: center;
	width: 90%;
	
	margin: auto;
	gap: 2rem;
	flex-wrap: wrap;

	padding: 10px;
}
h2{
	text-align: center;
	color: darkslateblue;;
	font-size: 50px;
	margin-bottom: 40px;
	
	
}
.projects{
	width: 400px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.2px solid darkslateblue;
	box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.19);
}
.projects:hover>.txtImg{
	opacity: 1;

	visibility: visible;
	transform: scale(1.3);
	
}
.projects img{
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.txtImg{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	background: rgb(56, 53, 53,0.7);
	width: 400px;
	height: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	transition: .4s all;
	
	
}
.txtImg p{
	font-size: 24px;
}
.titleImg{
	color: white;
	font-size: 2.5em;
	margin-bottom: 10px;
	
}
.descImg{
	color: white;
	font-size: 1em;
	margin-bottom: 20px;

}


/* SectionAbout*/
.sectionAbout{
	margin-top: 100px;
	height: auto;
	
	
	margin-bottom: 200px;

width: 100%;
padding: 0;
	
}

.containerAbout{
	display: flex;
	margin: 0;
	width: 100%;
	
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.about{
	width: 300px;

	display: flex;
	flex-direction: column;
	align-items: center;

}
.about i,
.about p,
.about span{
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
}
.about i{
	font-size: 40px;
	color: darkslateblue;
}

/* Footer*/
.footer-end{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(20, 20, 20, 0.589);
	padding-top: 40px;
	text-align: center;
	object-fit: cover;
	background: url("../../images/footer.jpg") no-repeat;
	clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 0% 100%);
	
	
}


.footer-content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 30px;
    color: white;
	font-size: 18px;
	

}
.footer-bottom{
	margin-bottom: 5px;
	margin-top: 10px;
}
.footer-center span{
	font-size: 23px;
}
.spanFR{
	font-size: 23px;
}
.footer-right ul li{
	margin-top: 7px;
}
.navFooter li {
	padding-top: 7px;
}

.socials{
	display: flex;
	justify-content: center;
	flex-direction: row;

}
.footer-content li{
	margin-left: 20px;
}
.footer-content li a{
	color: white;
}
.footer-content li a:hover{
	color: rgb(17, 143, 160);
}

.footer-content p{
	color: white;
}
.footer-content ul{
	list-style: none;
}
.footer-bottom p,
.footer-bottom span{
	color: white;
}

.footer-right li i,
.footer-right li span{
	color: white;

}
.footer-right li span{
	margin-left: 10px;
}
.footer-left{
	width: 300px;
	font-size: 16px;
}
.footer-left p{
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer-left span{
	color: white;
	font-size: 25px;
}



/*ANIMATIONS */

@keyframes myName{
	0%{
      transform:scale(1);
	}
	50%{
		transform:scale(1.1);
	}
	100%{
         
	}
}

/*Responsive */

@media  (max-width:650px){
	*{
		margin: 0;
		padding: 0;
	}
	.divMenuHeader{
	position: absolute;
		
     display: flex;
	 width: 100%  !important;
	 justify-content: flex-start;
	 align-items: flex-start;
	 flex-direction: column;
	   
	 }
	 #check{
		 display: none;
	 }
	 .checkbtn{
		 font-size: 30px;
		 padding-top: 5px;
		 visibility: visible;
		 padding-left: 10px;
		 color: white;
		 cursor: pointer;
	 }
	.nav-header{
		width: 100%;
		height: 40px;
		align-items: flex-start;
		justify-content: flex-start;
		
	}
	
	.nav-header ul{
		background: darkslateblue;
		margin-left: 100%;
		width: 100%;
		display: column;
		justify-content: center;
		align-items: center;
		
	}
      .menuNav{
		  visibility: visible;
		  
	  }
	 #check:checked ~ .ul-header {
          margin-left: 0px;
	  }
	  .ul-header{
		  
		  display: flex;
		  flex-direction: column;
		 
	  }
	  
	 
	  
	  .containerPhoto{
		  display: flex;
		  justify-content: flex-start;
		 
		  flex-wrap: wrap;
		  
		
	  }
	  .info-header{
		  display: flex;
		  flex-direction: row;
		  justify-content: center;
		  align-items: flex-start;
		  padding-top: 10px;
	  }
	  .skill-heading{
		width:350px;
	}
	.projects{
		width: 250px;
		height: 250px;
	}
	.txtImg{
		width: 250px;
		height: 250px;
		
	}
	.txtImg p,
	.txtImg h4{
		font-size: 15px;
	}
	header{
		height: 107vh;
	}
	  
}

.btn_visit{
	outline: none;
	border-style: none;
	outline-style: none;
	margin-bottom: 20px;
	padding: 10px;
	cursor: pointer;
	background-color: rgb(49, 148, 49);
	color: white;
	font-weight: bold;
}
@media (min-width:651px) and (max-width:695px) {
	.info-header{
		justify-content: flex-start;
		
		margin-top: 15px;
	}

}
@media (min-width:696px) and (max-width:3000px){
	.divMenuHeader label{
		visibility: hidden;
	}
}









